############
# Database
############
DATABASE_NAME=app_db
DATABASE_USER=app_db
DATABASE_PASSWORD=app_db
DATABASE_HOST=app_database
DATABASE_PORT=5432
DATABASE_EXTERNAL_PORT=15989
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

############
# App Runtime
############
WEB_PORT=15987
API_PORT=15988
API_INTERNAL_URL=http://app_api:15988
WEB_DOMAIN=localhost.local:15987
API_DOMAIN=localhost.local:15988
CADDY_ACME_EMAIL=you@example.com

NEXT_PUBLIC_API_URL=http://localhost.local:15988
NEXT_PUBLIC_APP_ORIGIN=http://localhost.local:15987
